XSOLLA_PROJECT_ID="YOUR_DATA"

# https://publisher.xsolla.com/<YOUR_MERCHANT>/projects/<YOUR_PROJECT>/edit/webhooks/
XSOLLA_WEBHOOK_SECRET_KEY="YOUR_DATA"

# only for server-side integration
# https://publisher.xsolla.com/<YOUR_MERCHANT>/projects/<YOUR_PROJECT>/edit/api_key
XSOLLA_API_KEY="YOUR_DATA"

# only for client-side integration
# create "login project" and get this id on page https://publisher.xsolla.com/<YOUR_MERCHANT>/projects/<YOUR_PROJECT>/login
XSOLLA_LOGIN_ID="YOUR_DATA"

BACKEND_PORT=8080

# https://ngrok.com/ - for expose your local app to the internet
NGROK_AUTH_TOKEN="YOUR_DATA"
# ngrok web interface port
NGROK_PORT=4040
